.row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  font-size: 40px;
  margin: 25px;
}

.button {
  width: 230px;
  font-size: 32px;
  padding: 1px;
  border: 2px solid rgb(0, 128, 128);
  color: rgb(0, 128, 128);
  background-color: white;
  border-radius: 2px;
}

.input {
  font-size: 32px;
  padding: 1px;
  width: 80px;
  text-align: center;
  margin-right: 4px;
}

.error {
  color: red;
}

.home {
  font-size: 20px;
  margin-top: 10px;
}
